<!DOCTYPE HTML>
<html>
  {% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <script src="plotly-latest.min.js"></script> -->
  <link rel="javascript" type="text/js" href="{% static 'bwauthelath/plotly-latest.min.js' %}">

  <title>test</title>
</head>
<body>
  {% autoescape off %}
  {{ plot_div }}
  {% endautoescape %}
</body>
</html>
